html,body{
    width: 100%;
}
html {
    touch-action: manipulation;
}

.first-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.invisible{
    display: none;
}

body{
    margin: 0%;
}

.mobile-searchbar{
    display: flex;
    width: 100%;
    justify-content: center;
    aspect-ratio: 8/1;
    padding-top: 0px;
    padding-bottom: 8.5px;
}

.mobile-searchbar-container{
    display: flex;
    width: 93.5%;
    justify-content: space-between;
    align-items: center;
    height: 125px;
   
}

.mobile-searchbar-left{
    width: 75px;
    height: 150px;
}

.mobile-searchbar-right{
    width:65px;
    height: 47px;
}

.mobile-searchbar-center{
    width: 180px;
    height: 100px;
    padding-top: 10px;
}

.mobile-front-image-container{
    display: flex;
    width: 100%;
    margin-bottom: 9.5%;
    
}

.mobile-front-image{
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.mobile-browse-options{
    display: flex;
    flex-direction: column;
    gap:34px;
    font-family: Helvetica;
    font-size: 200%;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    color: #565656;
    padding-bottom: 9%;
    padding-left: 2.7%;
    border-bottom: 1px solid #444;
}

@supports not (gap: 34px){
    .option{
        margin-bottom: 34px;
        gap: 0px;
    }
}

.mobile-browse-heading{
    display: flex;
    margin-top: 20px;
    margin-bottom: 6.3%;
    font-family: Helvetica;
    font-size: 230%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #000;
}

.mobile-browse-container{
    display: flex;
    flex-direction: column;
    width: 83%;
    
}

.mobile-browse{
    display: flex;
    font-family: Helvetica;
    font-size: 37px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #000;
    padding-bottom: 6.7%;
    padding-left: 0%;
    border-bottom: 1px solid #444;
    margin-bottom: 5%;
}

.mobile-browse-container-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mobile-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    
    
}

.mobile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    margin-bottom: 146px;
}

.image{
    width: 86%;
    height: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 7%;
    height: auto;
}

.Name{
    display: flex;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-bottom: 1%;
    height: auto;
}

.Price{
    display: flexS;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    height:auto;
}

.mobile-previous-container-parent{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 127px;
}

.mobile-previous-container{
    display: flex;
    justify-content: space-between;
    font-family: Helvetica;
    font-size: 31px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    color: #000;
    width: 86%;
    border-top:1px solid #444;
    border-bottom:1px solid #444;
    padding-top: 3.8%;
    padding-bottom: 3.8%;

}

.mobile-footer-container{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 100%;
    align-items: center;
    padding-bottom: 120px;
}

.mobile-contact-container{
    display: flex;
    flex-direction: column;
    width: 89%;
    align-items: center;
    margin-top: 8.5%;
    margin-bottom: 9.2%;
}

.mobile-contact-question{
        font-family: Helvetica;
        font-size: 54px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.36px;
        text-align: center;
        color: #444;
}

.mobile-contact1{
    display: flex;
    justify-content: space-between;
    font-family: Helvetica;
    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    text-align: center;
    color: #000;
    width: 85%;
    margin-top: 95px;
}

.mobile-contact2{
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #000;
    margin-top: 55px;
}

.mobile-menu-container{
    width: 85%;
    border-top: 1px solid #444;
}

.mobile-menu-heading{
    display: flex;
    font-family: Helvetica;
    font-size: 46px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.32px;
    color: #444;
    margin-top: 110px;
    margin-bottom: 45px;
}

.mobile-menu-options{
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #000;
    gap: 50px;
}

.mobile-about-us{
    display: flex;
    flex-direction: column;
    width: 86%;
    margin-top: 135px;
    margin-bottom: 90px;
}

.mobile-about-us-heading{
    display: flex;
    font-family: Helvetica;
    font-size: 47px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.32px;
    color: #444;
    margin-bottom: 18px;
}

.mobile-about-us-content{
    display: flex;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.22px;
    color: #444;
}

.mobile-icon-container{

    display: flex;
    width: 86.5%;
    height: fit-content;
    gap: 55px;
    padding-bottom: 83px;
    border-bottom: 1px solid #444;
}

.mobile-icon{
    height: 55px;
    width: 55px;
}

.mobile-powered{
    display: flex;
    width: 86.5%;
    font-family: Helvetica;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.23px;
    color: #444;
    padding-left: 18px;
    padding-top: 34px;
}



@media only screen and (min-width:1025px){
    .invisible{
        display: block;
    }

    .visible{
        display: none;
    }

    .browse-card-container{
        display: flex;
        width:100%;
        height: auto;
        margin-bottom: 1px;
        /* margin-left: 18px; */
        /* justify-content: center; */
        /* padding-left: 130px; */
        /* margin-bottom: -1%; */
    }

    .searchbar-left{
        padding-left: 0%;
        padding-left: 1%;
        display: flex;
    }

    .searchbar-right{
        padding-right: 0%;
        display: flex;
        justify-content: flex-end;
        padding-right: 0.5%;
    }

    .Searchbar-container-center-icon{
        width: 100%;
        height: 100%;
    }

    .searchbar-content-flex{
        display: flex;
        justify-content: center;
    }
    .previous-next{
        grid-column: 1/-1;
        width: 100%;
    }

    .about-us-logo{
        border-bottom: none;
    }

    .browse{
        width: 60%;
    }

    .browse-card-container-parent {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 56px;
    }

    .card{
        width: 100%;
        height: auto;
        border: 1px solid black;
    }

    .customer-care-contact-details{
        width: 100%;
        display: flex;
        margin: 0%;
        background-color: teal;
        justify-content: space-between;
        padding-bottom: 0%;
        
    }

    .customer-care{
        padding: 0%;
        margin: 0%;
        width: 100%;
        background-color: tomato;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .overall-media-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding-left: 0%;
        padding-right: 0%;
        background-color: #f6f6f6;
    }

    .about-us-logo-icons{
        width: 20%;
    }

    .menu{
        width: 30%;
    }

    .about-us{
        width:20%
    }

    .subcategory{

        width:100%;
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        /* gap: 13px; */
        padding-top: 20px;
        font-family: Helvetica;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.22px;
        color: #565656;
    }

    @supports (gap:13px){
        .subcategory{
            gap: 13px;
            background-color: yellow;
        }
    }

    @supports not (gap:13px){
        .subcategory .sub-options{
            background-color: lime;
        }
    }
    
    .category-heading{
        display: flex;
        justify-content: space-between;
        /* gap:130px; */
        font-size: 14px;
        width: 100%;
    }
    
    .categories{
        display:flex;
        flex-direction: column;
    }
    
    .category{
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        padding-top: 10px;
        padding-bottom: 14px; 
        width: 100%;
    }
    
    .browse-categories-heading{
        width: 100%;
        padding-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.25px;
        color: #000;
    }
    
    .browse-categories{

        display: flex;
        flex-direction: column;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.22px;
        color: #565656;
        background-color:#ffffff;
        width: 100%;
    }
    
    .category-symbols{
        padding-right: 12px;
    }

    .browse-card-container-parent{
        display: flex;
        max-width: 100%;
        justify-content: center;
    }

    .product-card{
        display: flex;
        flex-direction:column;
        width:100%;
        /* margin-bottom: 55px; */
        /* margin-bottom: 30px; */
    }

    .desktop-card-image{
        width: 100%;
        height: 100%;
    }

    /* .unknown{
        height: 99%;
    } */
    
    .product-card-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 0px;
        margin-top: 12px;
        width: 100%;
        /* background-color: yellow; */
        height: auto;
        padding-right: 2px;
        letter-spacing: 5px;
    }
    
    .product-card-info-name{
        font-family: Helvetica;
        font-size: 12px;
        word-spacing: 2px;
        /* letter-spacing: 25px; */
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000;
        /* padding-right: 15px; */
        /* padding-top: 3px; */
    }
    
    .product-card-info-price{
        font-family: Helvetica;
        font-size: 16px;
        /* padding-right: 12px; */
        padding-top: 2px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000;
    }
    
    .card-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 100%;
        /* gap: 25px; */
        column-gap: 10px;
        row-gap: 46px;
        /* gap: 20px; */
        /* background-color: crimson; */
        /* padding-right: 100px; */
        margin-bottom: 40px;
    }
    
    .card-grid-container{
        width: 53.2%;
        /* margin-left: 25px; */
        /* margin-top: 79px; */
        margin-top:90px;
    }
    
    .browse-container{
        width: 14%;
        /* background-color: pink; */
        /* margin-right: 158px; */
        margin-top: 57px;
        margin-right: 50px;
        margin-left:15%;
        /* margin-top: 50px; */
        /* padding-right: 20px; */
    }
    
    .contact-info{
        display: flex;
        width: 100%;
        justify-content:center;
        gap:55px;
    }
    
    .contact-info-container{
        display: flex;
        max-width: 100%;
        justify-content: center;
    }
    
    .contact{
        display: flex;
        width: max-content;
        /* background-color: aqua; */
        font-family: Helvetica;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.25px;
        text-align: center;
        color: #000;
        padding-top: 5px;
    }
    
    .contact-container{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin-bottom: 2px;
    }
    
    .contact-question{
        display: flex;
        /* width: 100%; */
        width: max-content;
        /* background-color: lime; */
        justify-content: center;
        font-family: Helvetica;
        font-size: 25px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.43px;
        text-align: center;
        color: #444;
        margin-bottom: 18px;
        padding-top: 1px;
        padding-right: 2px;
    }
    
    .contact-container-container{
        display: flex;
        justify-content: center;
        width: 90%;
        margin-top: 30px;
        margin-right: 0%;
        margin-bottom: 0px;
    }
    
    .Menu-container{
        display: flex;
        flex-direction: column;
        max-width: 190px;
        margin-right: 11.5%;
        margin-top: 2.2%;
    }
    
    .Menu-heading-container{
      
        display: flex;
        font-family: Helvetica;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.32px;
        color: #444;
        margin-bottom: 20px;
    }
    
    .Menu-options-container{
        
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .Menu-option{
        font-family: Helvetica;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.22px;
        color: #000;
    }
    
    .About-us-paragraph{
        display: flex;
        font-family: Helvetica;
        font-size: 12px;
        word-spacing: 2.5px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.22px;
        color: #444;
       
    }
    .About-us-heading{
        font-family: Helvetica;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.32px;
        color: #444;
        margin-bottom: 20px;
    }
    
    .About-us-container{
        max-width: 53.5%;
        display: flex;
        flex-direction: column;
        /* margin-left: 115px; */
        /* margin-right: 139px; */
        margin-right: 17%;
        margin-top: 2.2%;
    }
    
    .Icon-container{
        display: flex;
        height: fit-content;
        margin-top: 67px;
    }
    
    .Icons{
        display: flex;
        flex-direction: row;
    }
    
    .Icon{
        padding-left: 21px;
        width: 22px;
        height: 22px;
    }
    
    .footer-middle-container{
        display: flex;
        max-width: 1040px;
        margin-top: 20px;
        margin-bottom: 0.9%;
        /* background-color: limegreen; */
        border-top:1px solid black ;
        border-bottom:1px solid black;
        /* padding-left: 43px; */
        padding-bottom: 5.9%;
    
    }
    
    .footer-middle-container-container{
        display: flex;
        width: 98.45%;
        justify-content: center;
        /* background-color: orange; */
        padding-left: 21px;
    }
    
    .Powered-container{
        display: flex;
        width: 1040px;
        font-family: Helvetica;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.23px;
        color: #444;
        margin-bottom: 25px;
        margin-top: 10px;
        height: auto;
        margin-top: 0%;
        /* background-color: crimson; */
    }
    
    .Powered-container-container{
        display: flex;
        justify-content: center;
        /* background-color: pink  ; */
        padding-left: 17px;
    }
    
    .previous-next-container{
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 2px solid #eee;
        border-bottom:2px solid #eee;
        font-family: Helvetica;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.22px;
        color: #000;
        /* margin-top: -1.5%; */
        /* padding-right: 0px; */
    }
    
    .Image-container{
        display: flex;
        width: 100%;
        /* margin-top: 0%; */
    }
    
    .Front-image{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    
    .Image-container-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .Navbar-container-container{
        display: flex;
        justify-content: center;
    }
    
    .Navbar-container{
        display: flex;
        width: 1000px;
        /* border-top: 1px solid black; */
        justify-content: center;
        padding-top: 17px;
        padding-bottom: 10px;
        /* padding-right: 2%; */
        padding-right: 7%;
        padding-bottom: 16px;
    }
    
    .Navbar{
        display: flex;
        max-width: 510px;
        gap: 49px;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #606060;
    }
    
    .Searchbar-container{
        display: flex;
        /* width: 991px; */
        width: 67%;
        align-items: center;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 7px;
        /* padding-left: 0px; */
        border-bottom: 1px solid #ccc;
    }
    
    .Searchbar-container-left{
        display: flex;
        gap: 21px;
        padding-top: 3px;
    }
    
    .Searchbar-container-right{
        display: flex;
        gap: 20px;
        padding-top: 3px;
        /* padding-right: 3px; */
    }
    
    .Searchbar-container-center{
        display: flex;
        padding-right: 4%;
    }
    
    .Searchbar-container-left-icon{
        width: 23px;
        height: 100%;
    }
    
    .Searchbar-container-center{
        width: 72px;
    }
    
    .Searchbar-container-container{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .Searchbar-container-right-icon{
        width: 18px;
        height: 100%;
    }

}

