html,body{
    width: 100%;
}
.first-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.invisible{
    display: none;
}

body{
    margin: 0%;
}

.mobile-searchbar{
    display: flex;
    /* background-color: royalblue; */
    width: 100%;
    justify-content: center;
    aspect-ratio: 8/1;
    /* padding-left: 30px;
    padding-right: 30px; */
    padding-top: 14px;
    padding-bottom: 14px;
}

.mobile-searchbar-container{
    display: flex;
    width: 95%;
    justify-content: space-between;
    /* background-color: paleturquoise; */
}

.mobile-searchbar-left{
    width: 75px;
}

.mobile-searchbar-right{
    width:65px;
}

.mobile-searchbar-center{
    width: 180px;
}

.mobile-front-image-container{
    display: flex;
    width: 100%;
    /* background-color: yellowgreen; */
}

.mobile-front-image{
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.mobile-browse-options{
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    gap:34px;
    font-family: Helvetica;
    font-size: 200%;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    color: #565656;
    padding-bottom: 9%;
    padding-left: 2.7%;
    border-bottom: 1px solid black;
}

.mobile-browse-heading{
    display: flex;
    background-color: coral;
    margin-top: 20px;
    margin-bottom: 6.3%;
    font-family: Helvetica;
    font-size: 230%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #000;
}

.mobile-browse-container{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    width: 83%;
    
}

.mobile-browse{
    display: flex;
    background-color: brown;
    font-family: Helvetica;
    font-size: 37px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #000;
    padding-bottom: 6.7%;
    padding-left: 0%;
    border-bottom: 1px solid black;
    margin-bottom: 5%;
}

.mobile-browse-container-container{
    width: 100%;
    background-color: #565656;
    display: flex;
    justify-content: center;
}

.mobile-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rosybrown;
    padding-top: 15%;
    
    
}

.mobile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    width: 90%;
    margin-bottom: 146px;
}

.image{
    /* width:304%; */
    width: 86%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    padding-top: 7%;
}

.Name{
    display: flex;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-bottom: 1%;
}

.Price{
    display: flexS;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.mobile-previous-container-parent{
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin-top: 30px;  */
    margin-bottom: 127px;
}

.mobile-previous-container{
    display: flex;
    justify-content: space-between;
    font-family: Helvetica;
    font-size: 31px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    color: #000;
    width: 86%;
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding-top: 3.8%;
    padding-bottom: 3.8%;

}

.mobile-footer-container{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    width: 100%;
    align-items: center;
}

.mobile-contact-container{
    display: flex;
    flex-direction: column;
    background-color: orange;
    width: 89%;
    align-items: center;
    margin-top: 8.5%;

    margin-bottom: 9.2%;
}

.mobile-contact-question{
        font-family: Helvetica;
        font-size: 54px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.36px;
        text-align: center;
        color: #444;

        background-color: lightgreen;
}

.mobile-contact1{
    display: flex;
    justify-content: space-between;
    font-family: Helvetica;
    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    text-align: center;
    color: #000;
    width: 85%;
    margin-top: 95px;
    
    background-color: aqua;
}

.mobile-contact2{
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #000;

    margin-top: 55px;
    background-color: cornflowerblue;


}

.mobile-menu-container{
    background-color:chartreuse;
    width: 85%;
    border-top: 1px solid black;
}

.mobile-menu-heading{
    display: flex;
    background-color: pink;
    font-family: Helvetica;
    font-size: 46px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.32px;
    color: #444;
    margin-top: 110px;
    margin-bottom: 45px;
}

.mobile-menu-options{
    display: flex;
    flex-direction: column;
    background-color: lime;
    font-family: Helvetica;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #000;
    gap: 50px;
}

.mobile-about-us{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 86%;
    margin-top: 135px;
    margin-bottom: 90px;
}

.mobile-about-us-heading{
    display: flex;
    background-color: lightcyan;
    font-family: Helvetica;
    font-size: 47px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.32px;
    color: #444;
    margin-bottom: 18px;
}

.mobile-about-us-content{
    display: flex;
    background-color:violet;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.22px;
    color: #444;
}

.mobile-icon-container{

    display: flex;
    background-color: peru;
    width: 86.5%;
    height: fit-content;
    gap: 55px;
    padding-bottom: 83px;
    border-bottom: 1px solid black;
}

.mobile-icon{
    height: 55px;
}

.mobile-powered{
    display: flex;
    background-color: cyan;
    width: 86.5%;
    font-family: Helvetica;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.23px;
    color: #444;
    padding-left: 18px;
    padding-top: 34px;
}



@media only screen and (min-width:1025px){
    .invisible{
        display: block;
    }

    .visible{
        display: none;
    }

    .Heading-container-container{
        display: none;
    }

    .searchbar-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 0%;
        padding-right: 0%;
        width: 67%;
        height: 79px;
        /* border:4px solid black; */
        padding-top: 0.025%;
        /* background-color: #444; */
        margin-top: 2.2%;
    }

    .menu-icon{
        display: none;
    }

    .navbar-left-icons{
        padding-right:29px;
        width: 6.5%;
    }

    .navbar-center-icons{
        width: 23.5%;
    }

    .navbar-right-icons{
        padding-left:23px;
        width: 6.5%;
    }

    .navbar{
        display: flex;
        width: 100%;
        /* background-color:greenyellow; */
        justify-content: center;
    }

    .navbar-container{
        display: flex;
        width: 67%;
        /* background-color: #565656; */
        border-top: 2px solid #a8a8a8;
        justify-content: space-evenly;
    }

    .navbar-item-container{
        display: flex;
        justify-content: space-between;
        width: 61.6%;
        font-family: Helvetica;
        font-size: 19px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #606060;
        padding-top:0.6%;
        padding-bottom: 0.6%;
        margin-bottom: -0.3%;
    }

    .browse-card{
        display: none;
    }

    .card-section{
        display: none;
    }

    .browse-card-container{
        display: flex;
        /* padding-left: 5.6%;
        padding-right: 15%; */
        width:auto;
        /* border: 1px solid black; */
        /* background-color: slategrey; */
    }

    .browse-container{
        display: flex;
        background-color: #ffffff;
        /* width: 40%; */
        background-color:orange;
        justify-content: flex-end;
        /* padding-right: 2%;
        padding-top: 1.8%; */
    }

    .browse-heading{
        padding-bottom: 9%;
    }

    .card-container{
        display: grid;
        /* grid-gap:16px; */
        /* background-color: #ffffff; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: auto;
        background-color: crimson;
        max-width: 830px;
        /* padding-top: 6.9%;
        padding-left: 1.5%; */
    }

    .footer{
        display: none;
    }

    .media-footer{
        display: flex;
    }
    
    .browse-heading-menu-options-name{
        display: flex;
        background-color: aqua;
        justify-content: space-between;
        font-size: 20px;
    }

    .browse-heading-menu-options-name-options{
        font-size: 17px;
        padding-top: 4.5%;
        padding-left:3.5%;
    }

    .browse-heading-menu-options{
        border-bottom:2px solid black;
        /* padding-bottom: 4.4%; */
    }

    .browse-heading{
        font-size: 20px;
    }

    .searchbar-center{
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 0%;
        width:100%;
        display: flex;
        /* background-color: turquoise; */
        justify-content: center;
    }

    .searchbar-left{
        padding-left: 0%;
        /* background-color: blueviolet; */
        padding-left: 1%;
        display: flex;
    }

    .searchbar-right{
        padding-right: 0%;
        /* background-color: yellow; */
        display: flex;
        justify-content: flex-end;
        padding-right: 0.5%;
    }

    .searchbar-content-flex{
        display: flex;
        justify-content: center;
    }
    .previous-next{
        grid-column: 1/-1;
        width: 100%;
    }

    .about-us-logo{
        border-bottom: none;
    }

    .browse{
        width: 60%;
    }

    .browse-card-container-parent {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 56px;
    }

    .card{
        width: 100%;
        height: auto;
        border: 1px solid black;
        /* margin-left: 3%; */
    }

    .customer-care-contact-details{
        width: 100%;
        display: flex;
        margin: 0%;
        background-color: teal;
        justify-content: space-between;
        padding-bottom: 0%;
        
    }

    .customer-care{
        padding: 0%;
        margin: 0%;
        width: 100%;
        background-color: tomato;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .overall-media-footer{
        margin: 0%;
        /* background-color: yellowgreen; */
        padding-left: 0%;
        padding-right: 0%;
        background-color: #ccc;
    }

    .about-us-logo-icons{
        width: 20%;
    }

    .menu{
        width: 30%;
    }

    .about-us{
        width:20%
    }

    .subcategory{
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
         padding-left: 10px;
        gap: 15px;
        padding-top: 20px;
        font-family: Helvetica;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.22px;
        color: #565656;
    }
    
    .category-heading{
        display: flex;
        justify-content: space-between;
        
        /* background-color: yellowgreen; */
        
    }
    
    .categories{
        display:flex;
        flex-direction: column;
        /* background-color: violet; */
        
        /* border: 1px solid black; */
        
    }
    
    .category{
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        /* background-color: brown; */
        padding-top: 10px;
        padding-bottom: 15px; 
    }
    
    .browse-categories-heading{
        padding-bottom: 20px;
    }
    
    .browse-categories{
        display: flex;
        flex-direction: column;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.22px;
        color: #565656;
        background-color:#ffffff;
        width: 100%;
    }
    
    .category-symbols{
        padding-right: 10px;
    }

    .browse-card-container-parent{
        display: flex;
        max-width: 100%;
        justify-content: center;
        /* background-color: yellow; */
    }

    .product-card{
        display: flex;
        flex-direction:column;
        /* background-color: blueviolet; */
        max-width: 250px;
        /* background-color: chartreuse; */
        margin-bottom: 50px;
    }
    
    .product-card-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 0%;
        margin-top: 10px;
    }
    
    .product-card-info-name{
        /* background-color: aqua; */
        font-family: Helvetica;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000;
        /* background-color: blue; */
    }
    
    .product-card-info-price{
        /* background-color: brown; */
        font-family: Helvetica;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000;
        /* background-color: cadetblue; */
    }
    
    .card-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 780px;
    }
    
    .card-grid-container{
        /* background-color: chocolate; */
        width: 780px;
        margin-left: 50px;
        margin-top: 90px;
        /* margin-left: 50px; */
    }
    
    .browse-container{
        width: 200px;
        margin-top: 55px;
        /* background-color: tomato; */
    }
    
    .contact-info{
        display: flex;
        /* background-color: red; */
        width: 485px;
        justify-content:space-between;
    }
    
    .contact-info-container{
        display: flex;
        /* background-color: cornflowerblue; */
        max-width: 100%;
        justify-content: center;
    }
    
    .contact{
        font-family: Helvetica;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.25px;
        text-align: center;
        color: #000;
    }
    
    .contact-container{
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
        max-width: 1010px;
        margin-bottom: 22px;
    }
    
    .contact-question{
        display: flex;
        justify-content: center;
        font-family: Helvetica;
        font-size: 24px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.43px;
        text-align: center;
        color: #444;
        margin-bottom: 20px;
    }
    
    .contact-container-container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        /* background-color: yellowgreen; */
    }
    
    .Menu-container{
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        max-width: 190px;
    }
    
    .Menu-heading-container{
      
        display: flex;
        font-family: Helvetica;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.32px;
        color: #444;
        margin-bottom: 20px;
    }
    
    .Menu-options-container{
        
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .Menu-option{
        font-family: Helvetica;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.22px;
        color: #000;
    }
    
    .About-us-paragraph{
        display: flex;
        font-family: Helvetica;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.22px;
        color: #444;
       
    }
    .About-us-heading{
        font-family: Helvetica;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.32px;
        
        color: #444;
        margin-bottom: 20px;
    }
    
    .About-us-container{
        max-width: 570px;
        display: flex;
        flex-direction: column;
       
        /* background-color: burlywood; */
        margin-left: 115px;
        margin-right: 139px;
    }
    
    .Icon-container{
        display: flex;
        /* background-color: #fff; */
        /* border:1px solid black; */
        height: fit-content;
        margin-top: 45px;
        /* background-color: coral; */
    }
    
    .Icons{
        display: flex;
        flex-direction: row;
        /* background-color: red; */
        
    }
    
    .Icon{
        padding-left: 21px;
        max-width: 21px;
    }
    
    .footer-middle-container{
        display: flex;
        /* border: 1px solid black; */
        max-width: 1010px;
        margin-top: 20px;
        margin-bottom: 81px;
    
    }
    
    .footer-middle-container-container{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .Powered-container{
        display: flex;
        /* border: 1px solid black; */
        width: 1010px;
        font-family: Helvetica;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.23px;
        color: #444;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    
    .Powered-container-container{
        display: flex;
        justify-content: center;
    }
    
    .previous-next-container{
        display: flex;
        /* background-color: chartreuse; */
        max-width: 780px;
        justify-content: space-between;
        padding-top: 14px;
        padding-bottom: 14px;
        border-top: 2px solid #eee;
        border-bottom:2px solid #eee;
        font-family: Helvetica;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.22px;
        color: #000;
    }
    
    .Image-container{
        display: flex;
        width: 100%;
    }
    
    .Front-image{
        width: 100%;
        object-fit: cover;
    }
    
    .Image-container-container{
        width: 100%;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
    }
    
    .Navbar-container-container{
        /* background-color: red; */
        display: flex;
        justify-content: center;
    }
    
    .Navbar-container{
        /* background-color: greenyellow; */
        display: flex;
        width: 970px;
        border-top: 1px solid black;
        /* border-bottom: 1px solid black; */
    
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .Navbar{
        /* background-color: cadetblue; */
        display: flex;
        max-width: 600px;
        gap: 46px;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #606060;
    }
    
    .Searchbar-container{
        display: flex;
        /* border: 1px solid black; */
        width: 970px;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    .Searchbar-container-left{
        display: flex;
        /* background-color: aqua; */
        gap: 21px;
    }
    
    .Searchbar-container-right{
        display: flex;
        /* background-color: yellow; */
        gap: 21px;
    }
    
    .Searchbar-container-center{
        display: flex;
        /* background-color: orange; */
    }
    
    .Searchbar-container-left-icon{
        width: 21px;
    }
    
    .Searchbar-container-center{
        width: 66px;
    }
    
    .Searchbar-container-right{
        
    }
    
    .Searchbar-container-container{
        display: flex;
        /* background-color: pink; */
        width: 100%;
        justify-content: center;
    }

}

