html,body{
    width: 100%;
}
.first-page{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#ffffff;
    margin-bottom: 10px;
    margin-top: 15px;
    
}

.searchbar-left{
    display:flex;
    padding-left: 25px;
    height: 40px;
}

.searchbar-center{
    display: flex;
    height: 100px;
}

.searchbar-right{
    display: flex;
    padding-right: 20px;
    height: 40px;
}

body{
    margin: 0%;
}

.front-image{
 display: flex;
 height: 400px;
 width: 100%;
}
.front-image-image{
    max-width: 100%;
    object-fit:cover;
    
}

.browse-card{
    display: flex;
    flex-direction: column;
    padding-top: 0px;

}

.browse{
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    margin-top: 10%;
    border-bottom: 2px solid #ccc; /*#ccc*/
    padding-bottom: 20px;

}

.browse-heading{
    font-weight: bold;
    font-size: 38px;
    font-family:Helvetica;
    letter-spacing: 0.25px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
    
}

.browse-heading-menu-options{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    
    
}

.browse-heading-menu-options-name{
    font-family: Helvetica;
    font-size: 38px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #000000;
}

.browse-heading-menu-options-name-options{
    padding-left: 5%;
    font-size:36px;
    font-family: Helvetica;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    color: #565656;
}

.card-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top:125px;


}

img.card{
    width: 100%;
    height: auto;
}

.price{
    text-align: center;
    font-size: 40px;
    font-family: Helvetica;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #000;
    margin-top: 2.5%;
    margin-bottom: 0%;
}

.name{
    text-align: center;
    font-size: 36px;
    font-family: Helvetica;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-bottom: 2.5%;

}

.previous-next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 100px;
    width: 80%;
    margin-top: 125px;
    margin-bottom: 125px;
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    color: #000;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.footer{
    height: 1000px;
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.customer-care{
    width: 90%;
    font-size: 56px;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
    font-family: Helvetica;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.36px;
    color: #444;
    height: fit-content;
}

